<div class="container">
    <div class="text-center m-5">
    <h1>{{titulo}}</h1> 
    <hr>
    </div>
    <div class="text-center">
        <img src="https://scontent.feze7-1.fna.fbcdn.net/v/t39.30808-6/291880177_503415378250933_8605348197183076074_n.png?_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEwUCGzTUY2bIPJlRKK2VkwUaw-Sv9vlBdRrD5K_2-UF6Wow-8gG4w3nsBdd5ZM4Lc0IghXn9S3n2C-NIB87f9T&_nc_ohc=XweekHG2TKcAX-zmbmr&_nc_ht=scontent.feze7-1.fna&oh=00_AT8ZzgnVb45W2y4rznwxlyVXEuLlafEBJy0F44Z3iaV7yA&oe=62EBAA17" class="rounded" alt="...">
        <hr>
    </div>
    <div class="text">
        En la <b>"Escuela de Educacion Tecnica N°5 "Dr.Salvador Debenedetti"</b> vas a salir formado con capacidades tecnicas. A partir del <b>tercer año</b>  es cuando elijes la orientacion que mas te gusto, y se empiezan a los talleres correspondientes: <hr>   
        <br>

        <h3><B>MAESTRO MAYOR DE OBRAS:</B></h3>
        <li>Sistemas Constructivos</li>
        <li>Proyecto</li>
        <li>Sistemas de Representacion</li>
        <li>Instalaciones</li> <br>

        <h3><B>TECNICO ELECTRONICO:</B></h3>
        <li>Digitales</li>
        <li>Montajes</li>
        <li>Analogicas</li>
        <li>Diseño</li> <br>
        
        <h3><B>TECNICO ELECTROMECANICO:</B></h3>
        <li>Torneria</li>
        <li>Electromecanica</li>
        <li>Mecanizacion</li>
        <li>AutoCAD</li> <br>  
        Con pasantias en distintas empresas dependiendo el rubro que elijas.</p>
    </div>
    <hr>
</div>



