<div class="container">

    <div id="institucion">
        <h2 class="text-center m-5">Nos ubicamos en</h2>
        <div class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13126.211100517723!2d-58.3678511!3d-34.6659958!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe194ff451a9c064e!2sEscuela%20de%20Educaci%C3%B3n%20Secundaria%20T%C3%A9cnica%20(E.E.S.T.)%20N%C2%BA5%20%22Dr.%20Salvador%20Debenedetti%22!5e0!3m2!1ses-419!2sar!4v1659313977600!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div> 
    </div>
        <div class="text-center m-5">
        <hr>
        <h1>{{titulo}}</h1>
        <li>+ 54 011 4001-5855</li>
        <li>eet5.palaa@gmail.com</li>
        <hr>
    </div>
</div>